queryparams/src/main/mule/queryparams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="543107d9-15e9-49da-baca-ee08e6bca6b2" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="queryparamsFlow" doc:id="fc609fb0-9a1e-4a4b-8e0c-b47368ef0396" >
		<http:listener doc:name="Listener" doc:id="96c1d24a-0074-4967-ba11-be6e40b650de" config-ref="HTTP_Listener_config" path="/params"/>
		<set-payload doc:name="Set Payload" doc:id="5a2c2151-65fe-4164-a710-1f02bc5c3bb1" value='#[(attributes.queryParams.firstname as String) ++" lives in "++ (attributes.queryParams.city as String)]' mimeType="text/html"/>
	</flow>
</mule>
