first_project/src/main/mule/first_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="71e078f5-7ddb-46cf-88da-fb1414f915d1">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="first_projectFlow" doc:id="03303990-cd65-4825-9c42-df11f2bd0ebb" >
		<http:listener doc:name="Listener" doc:id="59ad4a27-1cdd-4462-a042-7b807f27c976" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#[attributes.method ++" my localhost"]' doc:name="Set Payload" doc:id="699ab7cd-d8b8-41ab-a667-7df9c3be6f8a" mimeType="text/html"/>
	</flow>
</mule>
